#timeQueue {
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 25px;
    
    background: linear-gradient(to top, rgba(0,0,0,.8), transparent);
    border-bottom: 2px solid #000000;
    
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
    
    z-index: 5;
}

#timeQueue .queue-item img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #e99d76;
}

#timeQueue .queue-item {
    position: absolute;
    bottom: -13px;
    width: 50px;
    transition: left 0.8s ease-out;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar-tabs li:has([data-tab="combat"]) {
    display: none !important;
}
